.reveal h1, h2, h3, h4, h5, h6 {
  color: #004d00; /* dark green */
}

.reveal li {
  color: #006600; /* slightly lighter green for bullets */
}

.reveal a {
  color: #008000; /* links */
}


.reveal .slide-logo {
   max-height: 3.5em !important;
}


/* Adjust global font size */
.reveal {
  font-size: 32px;
}

/* Adjust heading sizes */
.reveal h1 { font-size: 2.2em; }
.reveal h2 { font-size: 1.8em; }
.reveal h3 { font-size: 1.4em; }